.page-container.container
  / Marketing Icons Section
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-group
            = @category.name
        .panel-body
          %p= @category.description

    
  / /.row
  / Portfolio Section
  .row
    .col-lg-12
      %h2.page-header= "#{@category.name} Projects"
    
    - @category.projects.each do |p|
      .col-md-4.col-sm-6
        %a{href: "/projects/#{p.to_param}"}
          %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => p.hero(:medium)}
          
          
    
  %hr
  = render partial: 'shared/contact_bar'
  
/ /.container
/ Script to Activate the Carousel
:javascript
  $(document).on('ready', function () {
    $('.carousel').carousel({
        interval: 1000 //changes the speed
    })
  });