.homepage-hero-container
  .extra-slider
    .wrapper
      %ul
        %li.hero-image-banner{:style => "background-image: url(#{image_path 'portfolio/israel-pal.jpg'});"}
        %li.hero-image-banner{:style => "background-image: url(#{image_path 'portfolio/local.jpg'});"}
        %li.hero-image-banner{:style => "background-image: url(#{image_path 'portfolio/girl.jpg'});"}

    
    .pagination
    :javascript
      $(document).ready(function() {
        $(".extra-slider").extraSlider({
          paginate: true
        });
      });

    .hero-copy-container
      .intro-heading 
        %span
          The 
        %span
          Art
        %span
          olution
      .intro-explain 
        Revolutionizing the Global Arts Network,
      %p
        by creating community driven healing through artistic expression. 
        
      .page-scroll.btn.btn-xl.youtube-video{"data-target" => "#video-modal", "data-toggle" => "modal", 'data-youtube-src' => "https://www.youtube.com/watch?v=dGLHswH0qWs"} Watch Our Work

  

      
/ Services Section
#about-artolution.relative
  .container
    .row
      .col-lg-12.text-center
        = image_tag 'artolution.png'
        
    .row.text-center
      .col-md-12
        .col-md-8.col-md-offset-2
          %h4{style: 'margin: 35px;'}
            The Artolution is a community-based public art network that empowers positive social change through creative, participatory, and collaborative art making.
      .col-md-12

        %p.text-muted 
          We facilitate projects around the world that connect diverse peoples in order to address common social objectives. Our projects bring together children, youth, families, artists, educators and community groups. Our founding objective is to address critical issues related to armed conflict, trauma and social marginalization by cultivating sustainable global initiatives that promote reconciliation, healing and community empowerment.



Portfolio Grid Section
%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Areas of Focus
        %h3.section-subheading.text-muted Categories of our work around the world
        - @projects.each do |p|
          = p.inspect
          = image_tag p.hero(:large)
    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => asset_url("portfolio/official.jpg")}
        .portfolio-caption
          %h4 Human Rights
          %p.text-muted Protecting Humanity with Artistic Action
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => asset_url("portfolio/israel-pal.jpg")}
        .portfolio-caption
          %h4 Armed Conflict
          %p.text-muted Engaging refugees on all sides of a fight
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => asset_url("portfolio/local.jpg")}
        .portfolio-caption
          %h4 Global Health
          %p.text-muted Education Initiatives & Community Building
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => asset_url("portfolio/girl.jpg")}
        .portfolio-caption
          %h4 Womens Empowerment
          %p.text-muted Programs and Workshops to uplift young women
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => asset_url("portfolio/port.jpg")}
        .portfolio-caption
          %h4 Street Art
          %p.text-muted Good old fashioned mural art projects
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => asset_url("portfolio/l-2.jpg")}
        .portfolio-caption
          %h4 Local Program Creation
          %p.text-muted Creating sustainable art programs
/ About Section
%section#about
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Our Timeline
        %h3.section-subheading.text-muted Founded in 2008..
    .row
      .col-lg-12
        %ul.timeline
          %li
            .timeline-image
              %img.img-circle.img-responsive{:alt => "", :src => asset_url("timeline/t-1.jpg")}
            .timeline-panel
              .timeline-heading
                %h4 2008
                %h4.subheading Our Humble Beginnings
              .timeline-body
                %p.text-muted Max got his first chubby for art in middle school that just kept growing for the following 10 years

          %li.timeline-inverted
            .timeline-image
              %img.img-circle.img-responsive{:alt => "", :src => asset_url("timeline/t-5.jpg")}
            .timeline-panel
              .timeline-heading
                %h4 First Artist Network
                %h4.subheading International groundings
              .timeline-body
                %p.text-muted Our first project with the UN! We onboarded 120 artist to work on our prjects around the globe..
          %li
            .timeline-image
              %img.img-circle.img-responsive{:alt => "", :src => asset_url("timeline/t-3.jpg")}
            .timeline-panel
              .timeline-heading
                %h4 Partnership with the UN
                %h4.subheading Transition to Full Boner
              .timeline-body
                %p.text-muted We finally got some skrilla to do what we love, and help soo soo many people, in the darkest corners of the world.


          %li.timeline-inverted
            .timeline-image
              %img.img-circle.img-responsive{:alt => "", :src => asset_url("timeline/t-4.jpg")}
            .timeline-panel
              .timeline-heading
                %h4 Press Publications
                %h4.subheading We rock arts socks off
              .timeline-body
                %p.text-muted Senor Joel Bernger Joined the Party.. and his murals are literally 2 legit 2 quit..
          %li.timeline-inverted
            %a.timeline-image{href: '/join-us'}
              %h4
                Be Part
                %br
                Of
                %br
                Our Story


  %hr
  %br
  %br
  %br
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Recent Photography
    %hr
    .row
      .col-lg-12
        #middle-section.relative
          - ary = [asset_url("portfolio/girl.jpg"), asset_url("portfolio/israel-pal.jpg"), asset_url("portfolio/official.jpg"), asset_url("portfolio/port.jpg"), asset_url("portfolio/local.jpg")]
          #grizzly-wrapper.gridzy.gridzyClassic.gridzyLightProgressIndicator.gridzyAnimated
            - ary.each do |image|
              %a.gallery-image{href: image, "data-gallery" => ""}
                %img{src: image }
            

    


      #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls{"data-use-bootstrap-modal" => "false"}
        / The container for the modal slides
        .slides
        / Controls for the borderless lightbox
        %h3.title
        %a.prev ‹
        %a.next ›
        %a.close ×
        %a.play-pause
        %ol.indicator
        / The modal dialog, which will be used to wrap the lightbox content
        .modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", type: "button"} ×
                %h4.modal-title
              .modal-body.next
              .modal-footer
                %button.btn.btn-default.pull-left.prev{type: "button"}
                  %i.glyphicon.glyphicon-chevron-left
                  Previous
                %button.btn.btn-primary.next{type: "button"}
                  Next
                  %i.glyphicon.glyphicon-chevron-right


/ Team Section
%section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Our Team
        %h3.section-subheading.text-muted All sides of the coin
    .row
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => asset_url("team/joel.jpg")}
          %h4 Joel Bergner: Executive Director
          %p.text-muted Joel is an artist, educator and organizer of public arts-based social action. He creates elaborate murals that explore social topics and reflect a wide array of artistic influences forging partnerships with dozens of institutions, community groups and local artists along the way. 

          %ul.list-inline.social-buttons
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => asset_url("team/max.jpg")}
          %h4 Max Levi Frieder: Founding Director
          %p.text-muted Max's work ranges from community building in refugee crisis, hospital workshops, abuse and addiction counseling through art, creative facilitation and conflict resolution. His projects have taken him to every single continent over the past 5 years.
          %ul.list-inline.social-buttons
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => asset_url("team/devving.jpg")}
          %h4 Christopher Knight: Lead Technologist
          %p.text-muted With a foundation in cultural anthropology, documentary journalism, and software development Christopher comes to Artolution as their lead digital strategist. He sees the power in digital human connection as quintessential for the modern evolution of ideas.
          %ul.list-inline.social-buttons
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %p.large.text-muted Over 35+ artists, educators, investors, and advisors consistently work with Artolution. 
        %br
        %a.page-scroll.btn.btn-xl{:href => "#about-artolution"} Learn what we do
/ Clients Aside
%aside.clients
  .container
    .row
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => asset_url("portfolio/girl.jpg")}/
          PRESS
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => asset_url("portfolio/port.jpg")}/
          FAQ
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => asset_url("portfolio/official.jpg")}/
          CAREERS
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => asset_url("portfolio/girl.jpg")}/
          ORGANIZATIONS

/ Contact Section
%section#contact{style: "background-image: url(#{asset_url('map-image.png')});"}
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Join us in the Artolution
        %br
        %br
        %br
    .row
      .col-lg-12
        %form{"accept-charset" => "UTF-8", action: "/visitors", method: "POST", roll: "form", id: 'visitor_form', "data-remote" => "true"}
          = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)

          %form#contactForm{:name => "sentMessage", :novalidate => ""}
            .row
              .col-md-6
                .form-group
                  %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Your Name *", :required => "", :type => "text", name: 'visitor[name]'}
                  %p.help-block.text-danger
                .form-group
                  %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email", name: 'visitor[email]'}
                  %p.help-block.text-danger
                .form-group
                  %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Your Phone *", :required => "", :type => "tel", name: 'visitor[phone]'}
                  %p.help-block.text-danger
              .col-md-6
                .form-group
                  %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Your Message *", :required => "", name: 'visitor[message]'}
                  %p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                %br
                %br
                #success
                %button.btn.btn-xl{:type => "submit"} Send Message
%footer
  .container
    .row
      .col-md-4
        %span.copyright Copyright © Artolution

      .col-md-4
        %ul.list-inline.social-buttons
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-linkedin
        %br
        %span Made with <3 by SerKnight

      .col-md-4
        %ul.list-inline.quicklinks
          %li
            %a{:href => "#"} Privacy Policy
          %li
            %a{:href => "#"} Terms of Use
/ Portfolio Modals
/ Use the modals below to showcase details about your portfolio projects!
/ Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => ""}/
            %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
            %p
              %strong> Want these icons in this portfolio item sample?
              You can download 60 of them for free, courtesy of
              
            %ul.list-inline
              %li Date: July 2014
              %li Client: Round Icons
              %li Category: Graphic Design
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Project
/ Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => ""}/
            %p
              Here we put more proejct info.. or we just screw this modal and send them to an artolution scoped projects page..
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Project
/ Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => ""}/
            %p
              Here we put more proejct info.. or we just screw this modal and send them to an artolution scoped projects page..
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Project
/ Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => ""}/
            %p
              Here we put more proejct info.. or we just screw this modal and send them to an artolution scoped projects page..
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Project
/ Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => ""}/
            %p
              Here we put more proejct info.. or we just screw this modal and send them to an artolution scoped projects page..
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Project
/ Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => ""}/
            %p
              Here we put more proejct info.. or we just screw this modal and send them to an artolution scoped projects page..
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Project
/ jQuery
// %script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
// %script{:src => "js/bootstrap.min.js"}
/ Plugin JavaScript
/ %script{:src => "js/classie.js"}
/ %script{:src => "js/cbpAnimatedHeader.js"}
/ / Contact Form JavaScript
/ %script{:src => "js/jqBootstrapValidation.js"}
/ %script{:src => "js/contact_me.js"}
/ / Custom Theme JavaScript

// %script{:src => "js/agency.js"}
