.homepage-hero-container
  .extra-slider
    .wrapper
      %ul
        %li.hero-image-banner{:style => "background-image: url(#{image_path 'portfolio/israel-pal.jpg'});"}
        %li.hero-image-banner{:style => "background-image: url(#{image_path 'portfolio/local.jpg'});"}
        %li.hero-image-banner{:style => "background-image: url(#{image_path 'portfolio/girl.jpg'});"}

    
    .pagination

    .hero-copy-container
      .intro-heading 
        %span
          The 
        %span
          Art
        %span
          olution
      .intro-explain 
        An international Public Arts Network,
      %p
        creating interactive community based art projects
        
      .page-scroll.btn.btn-xl.youtube-video{"data-target" => "#video-modal", "data-toggle" => "modal", 'data-youtube-src' => "https://www.youtube.com/watch?v=dGLHswH0qWs"} Watch Our Work

  

      
/ Services Section
#about-artolution.relative.padding-50
  .container
    .row
      .col-lg-12.text-center
        = image_tag 'artolution.png'
        
    .row.text-center
      .col-md-12
        .col-md-8.col-md-offset-2
          %h4{style: 'margin: 35px;'}
            We give individuals a chance to have their voices heard.
      .col-md-6.col-md-offset-3
        %p.text-muted 
          Our projects bring together children, youth, families, artists, educators and community groups that promote reconciliation, healing and community empowerment. Our founding objective is to alleviate critical issues related to
          %strong
            Armed Conflict, Human Rights, Women's Empowerment, & Health Education.
  



.relative#portfolio.whitesmoke-bg.padding-25
  .container
    .row
      .col-lg-12.text-center
        %h1.margin-50
          Body of Projects
    .row
      - @categories.each do |category|
        .col-md-3.col-sm-6.portfolio-item
          %a.portfolio-link{"data-toggle" => "modal", :href => category_path(category.id)}
            .portfolio-hover
              .portfolio-hover-content
                %i.fa.fa-plus.fa-3x
              .hover-copy= category.description
            %img.img-responsive{:alt => "", :src => asset_url(category.image(:medium))}
            .portfolio-caption
              %h4= category.name

      



/ About Section
.relative
  #about.padding-25
    .container
      .row
        .col-lg-12.text-center
          %h1 
            %span
              Process

      %br
      %br
      %br
      .row
        .col-lg-12
          %ul.timeline
            %li
              .timeline-image
                %img.img-circle.img-responsive{:alt => "", :src => asset_url("timeline/t-1.jpg")}
              .timeline-panel
                .timeline-heading
                  %h4 Project Conception
                  %h6.subheading 1 - 2 weeks
                .timeline-body
                  %p.text-muted 
                    Inital ideas come from a network of local artists, international NGOs, community centers, government agencies, & schools. We dream big and work hard to make them a reality.
                  %h4
                    %strong
                      %a{href: '/contact'} Contact us with project proposals.

            %li.timeline-inverted
              .timeline-image
                %img.img-circle.img-responsive{:alt => "", :src => asset_url("timeline/t-5.jpg")}
              .timeline-panel
                .timeline-heading
                  %h4 Team & Logistics
                  %h4.subheading 1 - 2 months
                .timeline-body
                  %p.text-muted We work with over 120 professional artists, and have completed projects with the UN, UNICEF, Mercy Corps, and Embassies around the globe.
                  %h4
                    %strong
                      %a{href: '/team'} Learn about our partners.

            %li
              .timeline-image
                %img.img-circle.img-responsive{:alt => "", :src => asset_url("timeline/t-3.jpg")}
              .timeline-panel
                .timeline-heading
                  %h4 Project Completion
                  %h4.subheading 1 day ~ 1 month
                .timeline-body
                  %p.text-muted From Brooklyn street art with youth centers, to week long mural workshops in refugee camps, our network of project participants is diverse and strong.
                  %h4
                    %strong
                      %a{href: '/projects'} Meet the Artolution Alumni.

                   

            %li.timeline-inverted
              .timeline-image
                %img.img-circle.img-responsive{:alt => "", :src => asset_url("timeline/t-4.jpg")}
              .timeline-panel
                .timeline-heading
                  %h4 Artistic Documentation
                  %h4.subheading 1 - 2 months
                .timeline-body
                  %p.text-muted We document the artistic collaborations, maintain select pieces, and publicly share documentation (photos, videos, participant testimonials, etc) in an on-line format that we disctribute to a wide public.
                  %h4
                    %strong
                      %a{href: '/press'} Artolution in the news

.relative.whitesmoke-bg.padding-50
  .container
    .row
      .col-lg-12.text-center
        %h1 
          Participatory Art
    %hr
    .row
      .col-lg-12
        #middle-section.relative
          / - ary = [asset_url("portfolio/girl.jpg"), asset_url("portfolio/israel-pal.jpg"), asset_url("portfolio/official.jpg"), asset_url("portfolio/port.jpg"), asset_url("portfolio/local.jpg")]
          #grizzly-wrapper.gridzy.gridzyClassic.gridzyLightProgressIndicator.gridzyAnimated
            - @projects.each do |project|
              / %a.gallery-image{href: project_path(project), "data-gallery" => ""}
              %a{href: project_path(project)}
                %img{src: project.hero(:medium) }
                .project-copy
                  %h1= project.title
                  %h7= project.body
            

      #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls{"data-use-bootstrap-modal" => "false"}
        / The container for the modal slides
        .slides
        / Controls for the borderless lightbox
        %h3.title
        %a.prev ‹
        %a.next ›
        %a.close ×
        %a.play-pause
        %ol.indicator
        / The modal dialog, which will be used to wrap the lightbox content
        .modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", type: "button"} ×
                %h4.modal-title
              .modal-body.next
              .modal-footer
                %button.btn.btn-default.pull-left.prev{type: "button"}
                  %i.glyphicon.glyphicon-chevron-left
                  Previous
                %button.btn.btn-primary.next{type: "button"}
                  Next
                  %i.glyphicon.glyphicon-chevron-right


/ Team Section
.relative#team.padding-50
  .container
    .row
      .col-lg-12.text-center
        %h1 
          %span
            Founding 
          Team
    .row
      .col-md-6
        .team-member.padding-25
          %img.img-responsive.img-circle.padding-25{:alt => "", :src => asset_url("team/joel.jpg")}
          %h4 Joel Bergner: Executive Director
          %p.text-muted Joel is an artist, educator and organizer of public arts-based social action. He creates elaborate murals that explore social topics and reflect a wide array of artistic influences.
          
      .col-md-6
        .team-member.padding-25
          %img.img-responsive.img-circle.padding-25{:alt => "", :src => asset_url("team/max.jpg")}
          %h4 Max Levi Frieder: Founding Director
          %p.text-muted Max's work ranges from community building in refugee crisis, hospital workshops, abuse and addiction counseling through art, creative facilitation and conflict resolution. His projects have taken him to every single continent over the past 5 years.
          
          
/ Clients Aside
/ %aside.clients
/   .container
/     .row
/       .col-md-3.col-sm-6
/         %a{:href => "#"}
/           %img.img-responsive.img-centered{:alt => "", :src => asset_url("portfolio/girl.jpg")}/
/           PRESS
/       .col-md-3.col-sm-6
/         %a{:href => "#"}
/           %img.img-responsive.img-centered{:alt => "", :src => asset_url("portfolio/port.jpg")}/
/           FAQ
/       .col-md-3.col-sm-6
/         %a{:href => "#"}
/           %img.img-responsive.img-centered{:alt => "", :src => asset_url("portfolio/official.jpg")}/
/           CAREERS
/       .col-md-3.col-sm-6
/         %a{:href => "#"}
/           %img.img-responsive.img-centered{:alt => "", :src => asset_url("portfolio/girl.jpg")}/
/           ORGANIZATIONS

/ Contact Section
%section#contact{style: "background-image: url(#{asset_url('map-image.png')});"}
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.padding-50 Join us in the Artolution
        .row
          .col-lg-8.col-lg-offset-2.text-center
            %p.large.text-muted Over 35+ artists, educators, investors, and advisors consistently work with Artolution. 
            %br
            %a.page-scroll.btn.btn-xl#get-involved{style: 'margin-bottom: 50px;'}  Get Involved
            
    
    .row#homepage-form-wrapper{style: 'display:none;'}
      .col-lg-12
        %form{"accept-charset" => "UTF-8", action: "/visitors", method: "POST", roll: "form", id: 'visitor_form', "data-remote" => "true"}
          = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)

          %form#contactForm{:name => "sentMessage", :novalidate => ""}
            .row
              .col-md-6
                .form-group
                  %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Your Name *", :required => "", :type => "text", name: 'visitor[name]'}
                  %p.help-block.text-danger
                .form-group
                  %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email", name: 'visitor[email]'}
                  %p.help-block.text-danger
                .form-group
                  %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Your Phone *", :required => "", :type => "tel", name: 'visitor[phone]'}
                  %p.help-block.text-danger
              .col-md-6
                .form-group
                  %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Your Message *", :required => "", name: 'visitor[message]'}
                  %p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                %br
                %br
                #success
                %button.page-scroll.btn.btn-xl{:type => "submit", style: 'margin-bottom: 55px;'} Send Message
%footer
  .container
    .row
      .col-md-4
        %span.copyright Copyright © Artolution

      .col-md-4
        %ul.list-inline.social-buttons
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-linkedin
        %br
        %span Made with <3 by SerKnight

      .col-md-4
        %ul.list-inline.quicklinks
          %li
            %a{:href => "#"} Privacy Policy
          %li
            %a{:href => "#"} Terms of Use
/ Portfolio Modals
/ Use the modals below to showcase details about your portfolio projects!
/ Portfolio Modal 1
#portfolioModal.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 health - education - environmental - international - arts & culture
            %p or womens health. 
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => ""}/
            %p Here I am going to link a bunch of donor / industry / categroy related specific project information.. Its going to have a sentence or two explaining the typr of project work this encompasses and also link to a list of all past artolution projects taht fit in this category..
            %p
              %strong Then here I'm going to have an email signup list, to receive more information related to this category.. 
              .form-group
                %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email", name: 'visitor[email]'}
              
            / %ul.list-inline
            /   %li Date: July 2014
            /   %li Client: Round Icons
            /   %li Category: Graphic Design
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Close Capability

/ jQuery
// %script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
// %script{:src => "js/bootstrap.min.js"}
/ Plugin JavaScript
/ %script{:src => "js/classie.js"}
/ %script{:src => "js/cbpAnimatedHeader.js"}
/ / Contact Form JavaScript
/ %script{:src => "js/jqBootstrapValidation.js"}
/ %script{:src => "js/contact_me.js"}
/ / Custom Theme JavaScript

// %script{:src => "js/agency.js"}
