#client-list-container.relative.text-center
  #client-list
    .page-header
      %h4.white
        CLIENTS
      .hr-short.hr-white
      %i.white
        75,000 events executed - 80+ Fortune 500 companies served - 27 million people entertained. 


  .relative
    .col-md-12.mobile-hide
      .brand
        = image_tag asset_url('brand_logos/1-macys.png')
      .brand
        = image_tag asset_url('brand_logos/2-brooklyn-nets.png')    
      .brand
        = image_tag asset_url('brand_logos/3-nike.png')
      .brand
        = image_tag asset_url('brand_logos/4-bose.png')
      .brand
        = image_tag asset_url('brand_logos/5-under-armour.png')
   
    .col-md-12
      .brand
        = image_tag asset_url('brand_logos/6-royal.png')
      .brand
        = image_tag asset_url('brand_logos/7-salesforce.png')
      .brand
        = image_tag asset_url('brand_logos/8-coors.png')    
      .brand
        = image_tag asset_url('brand_logos/9-h&m.png')
      .brand
        = image_tag asset_url('brand_logos/10-mckinsey.png')
      .brand.mobile-show
        = image_tag asset_url('brand_logos/3-nike.png')
    
    .col-md-12.mobile-hide
      .brand
        = image_tag asset_url('brand_logos/11-pioneer.png')    
      .brand
        = image_tag asset_url('brand_logos/12-aol.png')
      .brand
        = image_tag asset_url('brand_logos/13-twitter.png')
      .brand
        = image_tag asset_url('brand_logos/14-soulcycle.png')
      .brand
        = image_tag asset_url('brand_logos/15-pink.png')
    
