#all-studies.relative
  .text-left{style: "padding-left: 2.5%; opacity: 0.9; font-family: 'brandon-light'; font-size: 23px;"}Community Artolution Projects
  / .text-center
  /   .page-header
  /     %h4
  /       Featured Case Studies
  /     .hr-short
  /     %i
  /       = "#{@service['name']} Events"


  - projects.each do |project|
    .col-md-3.study-wrapper
      - active_stud = request.path.split('/')[-1] == project.slug ?  'active-case-study' : ''
      %a.study{href: "/category/#{@category.slug}/#{project.slug}", 'data-remote': true, class: active_stud }
        .study-image{style: "background-image: url(#{project.hero(:medium)}); no-repeat center center"}
        .study-copy
          .study-title
            = project.title
          .study-headline
            = truncate(project.description, length: 55)

          .peek-more
            .fa.fa-eye
            .view-more Read More



:javascript
  activeStudy();