/ - if @current_project
/   - meta title: "#{@current_project['client']} - Scratch Events", keywords: %{DJ Music services hire private parties in store event management target consumers retail hospitality brands agency internal entertainment }, description: "#{@current_project['headline']} - #{CGI::unescapeHTML(strip_tags(@current_project['request'][0..200]))} - #{CGI::unescapeHTML(strip_tags(@current_project['solution'][0..200]))}"
/ - else
/   - meta title: "#{@project['name']} - Scratch Events", keywords: %{DJ Music services hire private parties in store event management target consumers retail hospitality brands agency internal entertainment }, description: "#{CGI::unescapeHTML(strip_tags(@project['description']))}", rel: { publisher: "https://plus.google.com/102047419752906667083/about" }, og: { title: "#{@project['name']} Services at Scratch Events", image: asset_url('dj-power-og.png'), description: "#{CGI::unescapeHTML(strip_tags(@project['description']))}", site_name: "Scratch Events" }, twitter: { card: 'summary', site: '@scratchevents', title: "#{@project['name']} Services at Scratch Events", description: "#{CGI::unescapeHTML(strip_tags(@project['description']))}", image: { src: asset_url('main-twitter-card.png')}, domain: 'https://events.scratch.com' }

= render partial: 'elements/hero'

.text-center#service-show-container
  .capabilities-container.relative
    .capability-copy
      .page-header
        %h4
          ="#{@category.name} Solutions"
        .hr-short
        .text-center
          %i
            = @category.description.html_safe

    / = render partial: 'capabilities', locals: { capabilities: @category.project }

  = render partial: 'project_list', locals: { projects: @category.projects }

#current-case-study.relative
  = render partial: 'current_project', locals: { project: @current_project }


.relative= render partial: 'contact_us'
        


- if params[:project]
  :javascript
    var height = $('.hero-container').height() + 
    $('#service-show-container').height() + 
    $('#all-studies').height() +
    $('.capabilities-container').height();
    TweenLite.to(window, 1.2, {scrollTo:{y: height + 280, x:0}, ease:Power2.easeOut});
