#all-studies.relative
  .text-left{style: "padding-left: 2.5%; opacity: 0.9; font-family: 'brandon-light'; font-size: 23px;"}Community Artolution Projects
  / .text-center
  /   .page-header
  /     %h4
  /       Featured Case Studies
  /     .hr-short
  /     %i
  /       = "#{@service['name']} Events"



  - @project_list.each do |cat, projects|
    .col.col-md-12
      %h2= cat.name
      %p= cat.description
      %hr
    - projects.each do |project|
      .col-lg-3.col-md-4.col-xs-6.thumb
        %a.thumbnail{:href => "/category/#{cat.slug}/#{project.slug}"}
          %img.img-responsive{:alt => project.title, :src => project.hero(:medium)}
          .panel
          %p.lead
            = project.title

