.page-container
  .container
    / Page Heading/Breadcrumbs
    .row
      .col-lg-12
        - if params[:q]
          %h1
            ARTOLUTION:
            %span= params['q']['title_or_description_or_body_cont']
        - else
          %h1
            All Projects
        %ol.breadcrumb
          %li= link_to 'Home', root_path
          %li.active Projects
    / /.row
    .row
      / Blog Entries Column
      .col-md-8
        / First Blog Post
        - @projects.each do |project|
          .blogpost
            %h2
              %a{:href => '#'}= project.title
            %p.lead
              - if project.artists.count > 1
                = "by #{project.artists.map{|p| p.name }}"
              - elsif project.artists.count == 1
                = "by #{project.artists.first.name}"
              - else
                by the Artolution
            %p
              %i.fa.fa-newspaper-o
              = link_to project.category.name, "/category/#{project.category.slug}"
            
            .col.col-md-6
              = link_to project_path(project) do
                %img.img-responsive.img-hover{:alt => "", :height => "236", :src => project.hero(:medium), :width => "100%"}
            .col.col-md-6
              %p= "#{project.description[0..650]}.."
              = link_to project_path(project), class: 'btn btn-primary' do
                Read More
                %i.fa.fa-angle-right
            %hr

        / Pager
        %ul.pager
          %li.previous
            %a{:href => "#"} ← Older
          %li.next
            %a{:href => "#"} Newer →
      / Blog Sidebar Widgets Column
      .col-md-4#sidewall-blog-index
        / Blog Search Well
        .well.relative
          %form#project-search
            = search_form_for @q do |f|
              .col.col-md-8{style: 'padding-right: 3px;'}
                = f.search_field :title_or_description_or_body_cont, class: 'form-control', placeholder: 'Search Projects'
              .col.col-md-2
                .btn.btn-primary{type: 'submit'} Search

            
        .well.relative
          %h4 Categories
          .row#project-categories
            .col-lg-12
              %ul.list-unstyled
                - @categories.each do |cat|
                  %a{:href => "/category/#{cat.slug}"}
                    %li.relative= cat.name
            / /.col-lg-6
          / /.row
        / Side Widget Well
        .well#social-well.relative
          %a{href: 'https://www.instagram.com/artolution/', target: '_blank'}
            %i.fa.fa-instagram{"aria-hidden" => "true"} 
          %a{href: 'https://www.facebook.com/artolution/', target: '_blank'}
            %i.fa.fa-facebook{"aria-hidden" => "true"} 
          %a{href: 'https://www.twitter.com/theartolution/', target: '_blank'}
            %i.fa.fa-twitter{"aria-hidden" => "true"} 
          %a{href: 'https://www.linkedin.com/in/max-levi-frieder-72649038', target: '_blank'}
            %i.fa.fa-linkedin{"aria-hidden" => "true"} 

            

    / /.row
  / /.container

:javascript
  document.addEventListener("turbolinks:load", function() {
    $(document).ready(blogPostInit());
    $(document).on('page:load', blogPostInit());
  });