!!!
%html
  %head
  %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Solution'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Solution'}"}

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,500", :rel => "stylesheet", :type => "text/css"}/



    / %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    / %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"}

    %script{:src => "https://fonts.googleapis.com/css?family=Roboto"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .flash-notice
      %p.notice= notice
      %p.alert= alert

    %body#page-top.index
      %nav.navbar.navbar-default.navbar-fixed-top
        .container#header-container
          .navbar-header.page-scroll
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "/"} Artolution

          #bs-example-navbar-collapse-1.collapse.navbar-collapse.header-elements
            %ul.nav.navbar-nav.navbar-right
              %li.hidden
                %a{:href => "#page-top"}
              %li
                %a.page-scroll{:href => "/about"} About Us
              %li
                %a.page-scroll{:href => "/projects"} Projects
              %li
                %a.page-scroll{:href => "/partners"} Partners
              %li
                %a.page-scroll{:href => "/team"} Team
              %li
                %a.page-scroll{:href => "/contact"} Contact
              %li
                %a.page-scroll{:href => "https://artolutionorg.simpledonation.com/"} Donate
          
      = yield
      #video-container
        #video-modal.modal.fade{"aria-labelledby" => "video-modalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document", style: 'width: 853px;'}
            .modal-body

        #close-video
          .bar.short-bar
          .bar.long-bar
          .bar.short-bar

