!!!
%html
  %head
    = metamagic
    %script{:type => "application/ld+json"}
      :cdata
        { "@context" : "http://schema.org/", 
          "@type" : "Organization",
          "name" : "Artolution",
          "alternateName" : "The Artolution", 
          "url" : "https://artolution.org",
          "description" : "Artolution Rocks",
          "sameAs" : [
            "https://www.facebook.com/artolution",
            "https://twitter.com/artolution",
            "https://plus.google.com/102047419752906667083/about",
            "https://plus.google.com/+artolutionMusic/about",
            "https://www.instagram.com/artolution/",
            "https://www.linkedin.com/company/scratch-events",
            "https://www.youtube.com/user/artolutionUS",
            "https://www.pinterest.com/artolution/"
          ]
        }

    :javascript
      / var _gaq = _gaq || [];
      / _gaq.push(['_setAccount', 'UA-10018007-4']);
      / //_gaq.push(['_trackPageview']);

      / (function() {
      /   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      /   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      /   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      / })();

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

    %meta{:property => "fb:app_id", :content => "407112402792308"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "http://artolution.org/", :rel => "canonical"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}

  %body
    / - if ENV["PRODUCTION_SITE"] == "true"
    /   :javascript
    /     _gaq.push(['_trackPageview']);

    #loader-overlay
      .fa.fa-spinner.fa-spin

    #video-container
      = render partial: 'elements/video_player'
    = render partial: 'elements/lightbox'

    #navigation-container= render partial: "elements/navbar"
    / = flash_messages
    / wtf
    = yield
    #footer-container= render partial: "elements/footer"
    
